dotfiles/tmux/plugins
dotfiles/mpd/database
dotfiles/mpd/log
dotfiles/mpd/state
dotfiles/mpd/sticker.sql
dotfiles/mpd/pid
dotfiles/mpd/playlists
dotfiles/ncmpcpp/error.log
dotfiles/lf/session-bookmarks
scripts/yt-dlp/albumdl/dl-log.csv
Session.vim
dotfiles/i3/colors.conf
dotfiles/kitty/theme.conf
dotfiles/nvim/lua/colorscheme.lua
dotfiles/picom/picom.conf
dotfiles/polybar/theme.ini
dotfiles/rofi/colors.rasi
dotfiles/nvim/lazy-lock.json
**/load-ssh.sh
