dotfiles/tmux/plugins
dotfiles/mpd/database
dotfiles/mpd/log
dotfiles/mpd/state
dotfiles/mpd/sticker.sql
dotfiles/mpd/pid
dotfiles/ncmpcpp/error.log
dotfiles/lf/session-bookmarks
scripts/yt-dlp/albumdl/dl-log.csv
Session.vim


