@use "../../reset.css";

@import url("https://fonts.googleapis.com/css2?family=Playwrite+NL:wght@100..400&display=swap");

body {
    display: grid;
}

#root {
    display: grid;
}

#app {
    display: grid;
    background-color: salmon;
    align-content: center;
    justify-items: center;
    font-family: "Playwrite NL", cursive;
}

button {
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    background-color: #00000020;
}
