@media screen and (max-width: 600px) {
    // layout
    #content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
            "header"
            "main-content"
            "mobile-nav";
        
        .sidebar {
            &.maximized,
            &.maximized.hidden,
            &.minimized,
            &.minimized.visible {
                height: 0;
                width: 0;
                overflow: hidden;
            }
        }
        
        #mobile-nav {
            height: 75px
        }
    }
}
