@import "../../reset.css";
@import url("https://fonts.googleapis.com/css2?family=Playwrite+NL:wght@100..400&display=swap");

body {
    background-color: salmon;
    place-items: center center;
    font-family: "Playwrite NL", cursive;

    .box {
        width: 10rem;
        height: 10rem;
        background-color: lightcoral;
        display: grid;
        place-items: center center;
        border: 1rem solid #8a80d2ff;

        img {
            height: 5rem;
        }
    }
}
