@import "./src/reset";

$header: #f6f8fa;
$sidebar: #1f2328;
$content: #ffffff;
$hover-icon: #56585b;

// layout
#content {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "sidebar-maximized sidebar-minimized header"
        "sidebar-maximized sidebar-minimized main-content"
        "mobile-nav mobile-nav mobile-nav";

    #header {
        grid-area: header;
        height: 75px;
        background-color: $header;
        border-bottom: 1px solid #b7b7b7;
    }

    .sidebar {
        display: grid;
        grid-template-rows: 40px 1fr;
        background-color: $sidebar;
        overflow: hidden;
        transition: width 120ms ease-in-out;
         
        &.maximized {
            grid-area: sidebar-maximized;
            width: 300px;

            &.hidden {
                width: 0;
            }
        }
        &.minimized {
            grid-area: sidebar-minimized;
            width: 0;

            &.visible {
                width: 40px;
            }
        }

        .sidebar-header {
            display: flex;
            justify-content: flex-end;
            padding: 5px;
            height: auto;
        }
    }

    #main-content {
        grid-area: main-content;
        background-color: $content;
    }

    #mobile-nav {
        grid-area: mobile-nav;
        height: 0;
        background-color: $sidebar;
    }
}

// navigation buttons
button.nav-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    height: 30px;
    width: 30px;
    transition: background-color 120ms ease-in-out;

    &:hover {
        background-color: $hover-icon;
    }

    img.nav-icon {
        height: auto;
        width: auto;
    }
}
    
@import "./src/responsive"
 




